
/**
 * Conde Nast logo.
 */

.logo[data-logo="Conde Nast"] {
  width: 0;
}

.logo[data-logo="Conde Nast"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="Conde Nast"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="Conde Nast"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}
